body {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.small-button {
    background-color: transparent;
    color: #007BFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    width: 800px; /* Increased container width to accommodate both sides */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0; /* Separate boxes with margin */
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button {
    background-color: transparent;
    color: #007BFF;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    display: block;
}

.bottom-button {
    background-color: transparent;
    color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    display: block;
    font-size: 16px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-button:hover, .main-button:hover, .bottom-button:hover {
    background-color: transparent;
    color: #0056b3;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
