/* retired style sheet*/

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family:Trebuchet, Tahoma, Arial, sans-serif;
}

#page-container {
	position:relative;
	min-height:100vh;
}

nav{
	width: 100%;
	height: 120px;
	line-height:120px;
	padding:0px 100px;
	/*position: fixed;*/
	background-color: #12086F;
}

nav .logo img{
	float:left;
	cursor: pointer;
	height:120px;
	padding: 15px;
}

nav ul{
	float:right;
}
nav li{
	display: inline-block;
	list-style: none;
}

nav li a{
	font-size: 18px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;
}

nav li a:hover{
	color: #FF8C69;
	transition: all 0.4s ease 0s;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

footer {
	background-color: #12086F;
	padding: 25px;
	text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
}

footer small{
	color: white;
}

footer li{
	list-style: none;
	padding: 4px;
}
footer li a{
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;
}

footer li a:hover{
	color: #FF8C69;
	transition: all 0.4s ease 0s;
}