* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family:Trebuchet, Tahoma, Arial, sans-serif;
}

#page-container {
	position:relative;
	min-height:100vh;
}

nav{
	width: 100%;
	height: 120px;
	line-height:120px;
	padding:0px 100px;
	/*position: fixed;*/
	background-color: #12086F;
}

nav .logo img{
	float:left;
	cursor: pointer;
	height:120px;
	padding: 15px;
}

nav ul{
	float:right;
}
nav li{
	display: inline-block;
	list-style: none;
}

nav li a{
	font-size: 18px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;
}

nav li a:hover{
	color: #FF8C69;
	transition: all 0.4s ease 0s;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

footer {
	background-color: #12086F;
	padding: 25px;
	text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
}

footer small{
	color: white;
}

footer li{
	list-style: none;
	padding: 4px;
}
footer li a{
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;
}

footer li a:hover{
	color: #FF8C69;
	transition: all 0.4s ease 0s;
}
<<<<<<< Updated upstream
=======

/* mouse over link */
footer a:hover {
  color: orange;
}

/* selected link */
footer a:active {
  color: blue;
}

ul {
	list-style-type: none;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    width: 400px;
}

.main-button {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 40px; /* Increase padding for larger button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px; /* Bigger font size for "Dashboard" */
    margin: 5px;
    display: block;
    width: 100%;
}

.bottom-box {
    margin-top: 20px;
}

.bottom-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    display: block;
    width: 100%;
    font-size: 16px;
}

.main-button:hover, .bottom-button:hover {
    background-color: #0056b3;
}
>>>>>>> Stashed changes
